<!DOCTYPE html>
<html>
<head lang="en">

<title>The App</title>
<!-- HEAD -->
<!--/*/ <th:block th:include="fragments/structureModules/headIndex :: headIndex"></th:block> /*/-->
</head>
<body
	class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">

	<!-- HEADER -->
	<!--/*/ <th:block th:include="fragments/structureModules/headerIndex :: headerIndex"></th:block> /*/-->

	<!-- BEGIN CONTAINER -->
	<div class="page-container">

		<!-- SIDEBAR -->
		<!--/*/ <th:block th:include="fragments/structureModules/sidebarIndex :: sidebarIndex"></th:block> /*/-->


		<!-- MY CONTENT -->
		<!--/*/ <th:block th:include="patient/patientModules/listPatients :: listPatients"></th:block> /*/-->

		<!-- QUICK SIDEBAR -->
		<!--/*/ <th:block th:include="fragments/structureModules/quickSideBarIndex :: quickSideBarIndex"></th:block> /*/-->

	</div>

	<!-- FOOTER -->
	<!--/*/ <th:block th:include="fragments/structureModules/footerIndex :: footerIndex"></th:block> /*/-->

</body>
</html>